<% provide(:title, 'Home') %>

<html>
  <style type="text/css">	  
	  #cabin_trip {
	  	color: #FFFFFF;
	  	text-align: center;
	  	margin-left: 0 auto;
	  	margin-right: 0 auto;
	  }
	  
	  #ct_title {
	  	font-family: Papyrus, fantasy;
	  	text-shadow: 0px 2px 0px #990000;
	  }
	  
	  #cabin_trip h3 {
	  	text-shadow: 0px 2px 0px #990000;
	  }
  </style>
  
  <body id="cabin_trip">
  	<br />
  	<br />
  	<br />
  	<br />
  	<h1 id="ct_title">The "Cabin" Trip</h1>
  	<h6>Currently collecting funds.</h6>
  	<br />
  	<h3>Total Funds: $320</h3>
  	<h6>4 Contributors</h6>
  	<br />
  	<h6>Email: g.schuoler0114@yearup.org</h6>
  	<h6>If you have not already, please fill out this <a href="https://docs.google.com/forms/d/13T2qjFj3IVloUABalPdy536vXsNWI_eK4xfUUzC983I/viewform">form</a>.</h6>
  	
  </body>
</html>