<% provide(:title, 'Home') %>

<html>
	
<head>
  <style type="text/css">
  h1 {
  	color: #FFFFFF;
  	font-size: 14px;
  	text-align: center;
  }

  </style>
  
  <br />
  <h1>This site is a current Ruby on Rails project being developed for learning purposes.</h1>
</head>
</html>