<% provide(:title, 'Home') %>

<html>
	
<head>
  <style type="text/css">
  h1 {
  	color: #FFFFFF;
  	font-size: 14px;
  	text-align: center;
  }

  </style>
  
  <br />
  <h1>This site is a current Ruby on Rails project being developed for learning purposes.</h1>
</head>

<body>
	<style type="text/css">
		#Test {
			background-color: #0033CC;
			width: 400px;
			height: 500px;
			margin-left: 20px;
			float: left;
		}
		
		#Test2 {
			background-color: #285E8E;
			width: 150px;
			height: 150px;
			float: left;
			
		}
  	</style>
  	
  	<div id="Test2">
  		<h1>Test2</h1>
  	</div> 
  	
  	<div id="Test">
  		<h1>Test</h1>
  	</div>

 	
  	
</body>

</html>