<% provide(:title, 'LoL') %>

<style>
	h1 {
		color: white;
		font-family: Papyrus, fantasy;
	}
	
	#teamName {
		font-family: Papyrus, fantasy;
		font-size: 50px;
		text-align: center;
		text-shadow: 0px 2px 0px #990000;
	}
	
	#playerName {
		font-size: 21px;
		display: inline;
		text-shadow: 0px 2px 0px #000000;
	}
	
	#team_roster {
		margin-left: auto;
		margin-right: auto;
		font-family: Papyrus, fantasy;
	}
	
	#team_roster td h1 {
		margin-right: 37px;
		margin-left: 37px;	
		font-family: Papyrus, fantasy;
	}
	
	#team_roster td {
		text-align: center;
	}
	
	#team_roster tr td h2 {
		font-size: 18px;
		display: inline;
		font-family: Papyrus, fantasy;
		color: #FF0000;
		margin-right: 37px;
		margin-left: 37px;
		text-shadow: 0px 2px 0px #000000;
	}
	
	#new_recruits {
		font-family: Papyrus, fantasy;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
</style>

<br />
<h1 id="teamName">Team Silent Edge</h1>
<br />
<table id="team_roster">
	<tr>
		<td><a href="/construction"><h1 id="playerName">Avengous</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">Mochi</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">Crusages</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">Grilled Angus</h1></a></td>
	</tr>
	
	<tr>
		<td><h2>Carry</h2></td>
		<td><h2>Support</h2></td>
		<td><h2>Top</h2></td>
		<td><h2>Jungler</h2></td>	
	</tr>
</table>	

<br />
<h1 id="new_recruits">In Training</h1>
<br />

<table id="team_roster">
	<tr>
		<td><a href="/construction"><h1 id="playerName">Ranthanon</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">WinterWaltz</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">LittleIndianBoy</h1></a></td>
		<td><a href="/construction"><h1 id="playerName">dat1kewlkat</h1></a></td>
	</tr>
	
	<tr>
		<td><h2>Carry</h2></td>
		<td><h2>Support</h2></td>
		<td><h2>Top</h2></td>
		<td><h2>Jungler</h2></td>
	</tr>
</table>