<% provide(:title, 'Feedback') %>

<style>
	h1 {
		color: white;
		font-family: fantasy;
	}
	
	#teamName {
		font-size: 50px;
		text-align: center;
		text-shadow: 0px 2px 0px #990000 ;
	}
	
	#playerName {
		font-size: 25px;
		display: inline;
	}
	
	#team_roster {
		width: 1300px;
		text-align: center;
		vertical-align: middle;
	}
	
	#team_roster td h1 {
		margin-right: 20px;
	}
	
</style>

<br />
<h1 id="teamName">Team Silent Edge</h1>
<table id="team_roster">
	<tr>
		<td><h1 id="playerName">Avengous</h1></td>
		<td><h1 id="playerName">Mochi</h1></td>
		<td><h1 id="playerName">Crusages</h1></td>
		<td><h1 id="playerName">Grilled Angus</h1></td>
		<td><h1 id="playerName">Ranthanon</h1></td>
		<td><h1 id="playerName">LittleIndianBoy</h1></td>
		<td><h1 id="playerName">dat1kewlkat</h1></td>
	</tr>

</table>